.container{
    margin: auto;
    width: 200px;
}

.input-field{
    width: 320px;
    background-color: #fff;
    height: 55px;
    padding: 5px;
}

.input-field input{
    width: 310px;
    height: 50px;
    background-color: bisque;
    font-size: 32px;
}

.container-action{
    background-color: antiquewhite;
    width: 320px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.action, #reset{
    width: 70px;
    background-color: blanchedalmond;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

